<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.tasukete.dto.Notice" alias="Notice" />
		<typeAlias type="global.sesoc.tasukete.dto.Tasukete_user" alias="Tasukete_user" />
		<typeAlias type="global.sesoc.tasukete.dto.Suggestion" alias="Suggestion" />
		<typeAlias type="global.sesoc.tasukete.dto.Request" alias="Request" />
		<typeAlias type="global.sesoc.tasukete.dto.Report" alias="Report" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/AdminMapper.xml" />
		<mapper resource="mappers/UserMapper.xml" />
	</mappers>
</configuration>