<header class="major">
	<h2>공지사항</h2>
</header>
<div class="box">
	<form id="noticeForm" action="noticeWrite" method="POST">
		<table>
			<tr>
			<tr>
				<th>제목</th>
				<td><input type="text" name="notice_title" placeholder="제목입력"></td>
			<tr>
				<th>작성일자</th><td><input type="text" name="notice_date"></td>
				<th>아이디</th><td><input type="text" name="userid"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td>
					<textarea name="notice_contents" rows="20" cols="100"></textarea> 
				</td>
			</tr>
			<tr> 
				<th colspan="2">
					<a href="" class="noticeListBtn" onClick="noticeMgmt();">목록으로</a>
					<c:if test="${sessionScope.loginId == admin}">
					<a href="" id="noticeModifyBtn" >수정하기</a>
					</c:if>
				</th>
			</tr>
		</table>
	</form>
</div>