<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.tasukete.dao.RequestMapper">
<!-- 요청목록 -->
	<select id="selectAll" resultType="Request" parameterType="map">
		SELECT 
			requestseq
			,request_contents
			,userid
			,support_id
			,request_location
			,support_location
			,request_date
			,completion_date
			,disabled
			,pregnancy
			,request_flag
		FROM request
		<if test="searchItem != null">
			WHERE ${searchItem} LIKE '%'||#{searchWord}||'%'
		</if>
		ORDER BY requestseq DESC
	</select>
	
	<!-- 전체 글개수 조회 -->
	<select id="getRequestCount" parameterType="map" resultType="int">
	SELECT count(*)
	FROM request
	<if test="searchItem != null">
	WHERE ${searchItem} LIKE '%'||#{searchWord} || '%'
	</if>
	</select>
	
	<!-- 건의디테일 -->
	<select id="selectOne2" parameterType="int" resultType="Request">
		SELECT 
			*
		FROM request 
		WHERE requestseq = #{requestseq}
	</select>
</mapper>	