<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>건의하기 디테일</title>
<script>
//건의하기
$(function(){		 
	$("#back").on("click", back);
});	
function back(){
	$(".wrapper").load("user/html/suggestionList.html");     
	 $.ajax({ 
		 url: 'suggestionList'	
		,type: 'GET'
		,success: suggestionList
	});  		
}
</script>
</head>
<body>
<div class="wrapper">
<h2>건의 글 자세히 보기</h2>
	<table>
		<tr>
			<th>제목</th>
			<td> ${suggestion.suggestion_title}</td>
		</tr>
		<tr>
			<th>회원아이디</th>
			<td>${suggestion.userid}</td>
		</tr>
		<tr>
			<th>접수일시</th>
			<td>${suggestion.reception_date }</td>
		</tr>
		<tr>
			<th>건의내용</th>
			<td>
			<pre>
			${suggestion.suggestion_contents }
			</pre></td>
		</tr>
		<tr>
			<th>처리일시</th>
			<td>${suggestion.completion_date }</td>
		</tr>
		<tr>
			<th>진행상태</th>
			<td>${suggestion.progress_flag }</td>
		</tr>
		<tr>
			<th>건의결과</th>
			<td>
			<pre>
			${suggestion.suggestion_result }
			</pre></td>
		</tr> 
		<tr> 
			<th colspan="2">
				<a href="#" id="back" class="button small">목록으로</a>
				<a href="#" id="delete" class="button small">삭제</a> 
				<a href="#" id="change" class="button small">수정</a> 
			</th>
		</tr>
	</table>
</div>
</body>
</html>